
=========================================================
Appbuilder-SDK 文档主页
=========================================================


AppBuilder SDK面向开发者提供AI原生应用一站式开发工具，包括基础云资源、AI能力引擎、千帆大模型以及相关能力组件，提升AI原生应用开发效率。


.. toctree::
   :maxdepth: 1 
   :caption: 概览
   :name: _introduction
   
   rst/introduction
   md/authentication.rst
   md/components.rst

.. toctree::
   :maxdepth: 1
   :caption: 组件说明
   :name: _components

{{components_rst}}


=======

Apache-2.0

